# Ignore node_modules (dependencies)
node_modules/
.parcel-cache

# Ignore build or cache folders if any
.cache/
build/

# Ignore environment config files or sensitive files you don't want formatted
.env
.env.local
.sassrc.js
*.config.js

# Ignore lock files (optional)
package*.json
.sassrc.json
.prettierignore
.prettierrc
src/assets/fonts
src/js
src/scss